version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    working_dir: /app
    volumes:
      - ./backend:/app
    command: npm start
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: npm start
